@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
html{
    height: 100%;
}

body, ul{
    border: 0px;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

li{
    border: 0px;
    cursor: pointer;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.header{
    background-color: black;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0px 10px 0px 10px;
}

.logo{
    cursor: pointer;
    float: left;
    font-size: 40px;
}

.title{
    float: left;
    margin-top: 23px;
    padding-left:10px;
}

.wrap{
    padding: 0px;
}

.left{
    position: absolute;
    width: 200px;
    border-width: 0px 10px 1px 0px;
    border-color: #dddddd;
    border-style: solid ;
}

.right{
    margin-left: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.clear{
    clear: both;
}

.feed_item{
    padding: 5px 0px 5px 10px;
}

.feed_item:hover{
     background-color: gray;
}

.item{
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    padding-top: 5px;
}

.item:hover{
    border: 1px solid #dddddd;
}

.item_title{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px 10px 0px 10px;
    word-break: break-all;
}

.item_content{
    line-height: 20px;
    margin-bottom: 5px;
    padding: 0px 10px 0px 10px;
    word-break: break-all;
}

.item_ops{
    background-color: #efefef;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    height: 25px;
    line-height: 25px;
    padding: 0px 10px 0px 10px;
}

.loading{
    color: #ffffff;
}

.loading_logo{
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    font-weight: bold;
}