<!DOCTYPE html>
<html>
<head>
    <title>关于 - ABOUT</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="about_content">
    <div>
        <div class="about_content_title">RSS</div>
        <div class="about_content_content">一个RSS阅读器，做好阅读这件事儿</div>
        <div class="clear"></div>
    </div>
    <!--<div class="hr"></div>
    <div>
        <div class="about_content_title">Markdown</div>
        <div class="about_content_content">一个在线Markdown编辑器</div>
        <div class="clear"></div>
    </div>
    <div class="hr"></div>
    <div>
        <div class="about_content_title">Blog</div>
        <div class="about_content_content">博客就是博客，我只要一个博客</div>
        <div class="clear"></div>
    </div>-->
</div>
{% include 'footer.html' %}
</body>
</html>
