<!DOCTYPE html>
<html>
<head>
    <title>订阅管理 - SETTING</title>
    {% include 'header.html' %}
    <script type="text/javascript" src="/{{settings.STATIC_URL}}js/setting.js"></script>
</head>
<body>
{% include 'menu.html' %}
<div class="wrap">
    <div style="width:930px;margin:auto;">
        <div>导入</div>
        <div class="area block">
            <form enctype="multipart/form-data" method="post" action="/import_opml/">
                <input type="file" name="file"/>
                <input type="submit" value="导入" onclick="showLoad('正在加载...')"/>
            </form>
        </div>
        <div>
            <a href="javascript:void(0);" onclick="delAll();">全部删除</a>
            &nbsp;
            <a href="javascript:void(0);" onclick="delBat();">删除</a>
            &nbsp;
            <a href="{{ opml_url }}" id="opml">全部导出</a>
        </div>
        <div id="feed_manage_list" class="area block">
            <ul>

            </ul>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>
