<!DOCTYPE html>
<html>
<head>
    <title>APP</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'menu.html' %}

<div class="app_content">
    <div id="app_content_screen">
        <div style="float:left; ">
            <img src="/resources/image/app.png" style="width: 258px;">
        </div>
        <div id="app_content_main">
            <div id="app_title">COMING SOON...</div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div id="app_store" class="store"></div>
            <div id="google_play" class="store"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="hr"></div>
<div id="app_platform">
    <div class="app_platform_content">
        <div class="app_platform_content_title">PC/Linux/Mac</div>
        <div>Chrome/IE9+/FireFox</div>
    </div>
    <div class="app_platform_content">
        <div class="app_platform_content_title">Mobile</div>
        <div>iPhone/Android</div>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>