<!DOCTYPE html>
<html>
<head>
    <title>APP</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="app_content">
    <div style="padding: 80px 0 0 222px;">
        <div style="float:left; width: 300px;">
            <img src="/resources/image/app.png" style="width: 258px;">
        </div>
        <div style="float:left; width: 300px; height: 400px;">
            <a href="#"
               style="width:93px; height:34px; background: url('/resources/image/AppStore.png');
                background-size: 93px 34px;">test</a>
            <a href="#"
               style="width:93px; height:34px; background: url('/resources/image/GooglePlay.png');
                background-size: 93px 34px;">test</a>
        </div>

    </div>
</div>
</body>
</html>