<div class="footer">
    <div class="total_width">
        <div class="footer_sub footer_left">
            <a href="/">Only</a>
        </div>
        <div class="footer_sub">
            <a href="/">RSS</a>
            &nbsp;&nbsp;&nbsp;
            <a href="/markdown">Markdown</a>
            &nbsp;&nbsp;&nbsp;
            <a href="http://www.tonghs.com/?cat=515">博客</a>
            &nbsp;&nbsp;&nbsp;
            <a href="http://www.tonghs.com/?page_id=700">联系</a>
        </div>
    </div>
</div>