<!DOCTYPE html>
<html>
<head>
    <title>Only RSS</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="wrap">
    <div class="left">
        <div id="feed_ops">
            <ul>
                <li id="add_area">
                    <a href="javascript:void(0);" onclick="showAddFeedContainer()">添加</a>
                    <div id="txt_feed_container">
                        <input type="text" id="txt_feed" onkeypress="keyboardHandler(13, addFeed)"/>
                        <a href="javascript:void(0);" onclick="addFeed()">添加</a>
                    </div>
                </li>

            </ul>
            <div class="clear"></div>
        </div>
        <br>
        <div id="feed_list">
            <input type="hidden" id="temp_feed_id"/>
            <ul>

            </ul>
        </div>
    </div>
    <div class="right">
        <div id="ops">
            <input type="text" id="test"/>
            <a href="javascript:void(0);" onclick="delAllItem();">全部标记为已读</a>
            <a class="float_right" href="javascript:void(0);" onclick="showTitleMode()"
               style="padding-left: 10px;">标题查看</a>
            <a class="float_right" href="javascript:void(0);" onclick="showContentMode()">全文查看</a>
        </div>
        <div id="content_container" onscroll="setStatus()">
        </div>
    </div>


</div>
</body>
</html>