<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="仅仅是一个RSS阅读器而已。" name="description">
    <title>Only RSS</title>
    {% include 'header.html' %}
    <script type="text/javascript" src="/resources/js/onlyrss.js"></script>
</head>
<body style="overflow-y: hidden;">
<!--{% include 'menu.html' %}-->
<div class="wrap">
    <div class="left">
        <!--<div id="feed_ops">
            <ul>
                <li id="add_area">
                    <div id="txt_feed_container">
                        <input type="text" id="txt_feed" onkeypress="keyboardHandler(13, addFeed)"/>
                        <a href="javascript:void(0);" onclick="addFeed()">添加</a>
                    </div>
                </li>

            </ul>
            <div class="clear"></div>
        </div>
        <br>
        -->
        <div class="logo" title="Only RSS" onclick="window.location.href='/'">Only RSS</div>

        <div class="clear"></div>
        <div id="feed_list">
            <input type="hidden" id="temp_feed_id"/>
            <ul>

            </ul>
        </div>
    </div>

    <div class="right">
        <div id="ops">
            <a href="javascript:void(0);" id="refresh" class="icon icon_" onclick="getItem(null, $('#get_all'), true);" title="刷新"></a>
            <a href="javascript:void(0);" id="more" class="icon icon__" onclick="getMore(0, $('#next_page'));" title="加载更多"></a>
            <a href="javascript:void(0);" id="read_all" class="icon icon_" onclick="delAllItem();" title="全部标记为已读"></a>
            <a href="/setting" id="setting" class="icon icon__" onclick="getMore(0, $('#next_page'));" title="订阅管理"></a>
            <a href="javascript:void(0);" id="add" class="icon icon_" onclick="showAddFeedContainer();" title="添加"></a>
            <a href="javascript:void(0);" id="exit" class="icon icon__" onclick="logout();" title="退出"></a>
            <div class="clear"></div>
        </div>
        
        <div id="content_container" onscroll="setStatus()">
        </div>
    </div>


</div>
</body>
</html>
