<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/resources/css/onlyrss.css">
    <script type="text/javascript" src="/resources/js/jquery.js"></script>
    <script type="text/javascript" src="/resources/js/fun.js"></script>
    <script type="text/javascript" src="/resources/js/onlyrss.js"></script>
</head>
<body>
<div class="header">
    <div class="logo" title="Only RSS" onclick="window.location.href='/'">Only RSS</div>
    <div class="title">做好阅读这件事</div>
    <div class="clear"></div>
</div>

<div class="wrap">
    <div class="left">
        <div id="feed_list">
            <ul>

            </ul>
        </div>
    </div>
    <div class="right">
        <div id="content">

        </div>
    </div>
</div>
</body>
</html>