<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="仅仅是一个RSS阅读器而已。" name="description">
    <title>Only RSS</title>
    <link rel="stylesheet" href="/resources/css/login.css">
    <script type="text/javascript" src="/resources/js/jquery.js"></script>
    <script type="text/javascript" src="/resources/js/util.js"></script>
    <script type="text/javascript" src="/resources/js/login.js"></script>
</head>
<body>
    <div id="header">
        <div  class="total_width">
            Only RSS
        </div>
    </div>
    <div id="main">
        <div id="container">
            <div class="login_area">
                登录
            </div>
            <div class="login_area">
                <div style="width: 232px;margin: auto;">
                    <div class="tip" id='username_tip' title="用户名">U</div>
                    <input type="text" id="username" class="txt"/>
                    <div class="clear"></div>
                    <p>
                    <div class="tip" id='password_tip' title="密码">P</div>
                    <input type="password" id="password" class="txt"/>
                    <div class="clear"></div>
                    <p>
                    <input type="button" id="btn" onclick="login();" value="登 录"/>
                </div>
                <div class="clear"></div>
            </div>
            <div id="slogan">
                仅仅是一个RSS阅读器而已<br>
            </div>
        </div>
    </div>
</body>
</html>
