<!DOCTYPE html>
<html>
<head>
    <title>Only RSS</title>
    <link rel="stylesheet" href="/resources/css/markdown.css">
    <script type="text/javascript" src="/resources/js/jquery.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.allowtab.js"></script>
    <script type="text/javascript" src="/resources/js/util.js"></script>
    <script type="text/javascript" src="/resources/js/fun.js"></script>
    <script type="text/javascript" src="/resources/js/markdown.js"></script>
</head>
<body>
<div class="wrap">
    <div id="left">
        <textarea id="allowtab" onkeyup="getHtmlByText()"></textarea>
        <div class="clear"></div>
    </div>
    <div id="right"></div>
    <div class="clear"></div>
</div>
</body>
</html>