<div class="header">
    <div class="total_width">
        <div class="logo" title="Only RSS" onclick="window.location.href='/'">Only RSS</div>
        <div class="title">做好阅读这件事</div>
        <ul>
            <li class="menu_more">
                <div class="detail">
                    +
                </div>
                <ul>
                    <li>
                        <div class="sub_menu" onclick="window.location.href='/app'">
                            应用下载
                        </div>
                    </li>
                    <li>
                        <div class="sub_menu" onclick="window.location.href='/setting'">
                            订阅管理
                        </div>
                    </li>
                    <li>
                        <div class="sub_menu" onclick="logout()">
                            退出
                        </div>
                    </li>
                </ul>
            </li>
{#            <li class="menu" ><a href="/setting">SETTING</a></li>#}
            <li class="menu" ><a href="/user">{{ username }}</a></li>
        </ul>

    </div>
</div>