<div class="header">
    <div class="total_width">
        <div class="logo" title="Only RSS" onclick="window.location.href='/'">Only RSS</div>
        <div class="title">做好阅读这件事</div>
        <ul>
            <li class="menu_more">
                <a href="/">USER</a>
                <div class="sub_menu" onclick="logout();">
                    X
                </div>
            </li>
            <li class="menu" ><a href="/about">ABOUT</a></li>
            <li class="menu" ><a href="/app">APP</a></li>
            <li class="menu" ><a href="/setting">SETTING</a></li>
            <li class="menu" ><a href="/">HOME</a></li>
            <div class="clear"></div>
        </ul>

    </div>
</div>